@charset "utf-8";
html,
body,
ul,
dl,
dd,
dt,
ol,
li,
p,
h1,
h2,
h3,
h5,
h6,
textarea,
form,
select,
fieldset,
table,
td,
div,
input {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
h5,
h6,
span,
a,
em,
p {
  list-style: none;
  font-style: normal;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
html,
body {
  font-size: 14px;
  font-family: "Microsoft Yahei";
  width: 100%;
  height: auto;
  background-color: #fff;
}
header {
  width: 100%;
  height: 60px;
  background-color: #262223;
}
header nav {
  width: 1200px;
  min-width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
}
header nav .ico {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
header nav ul {
  padding: 0;
  margin: 0;
}
header nav ul li.page-1 {
  margin-left: 116px;
}
header nav ul li {
  list-style: none;
  width: 94px;
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
header nav ul li a {
  color: #fff;
}
header nav .interval {
  float: left;
  margin: 11px 41px 12px -2px;
}
header nav span {
  display: block;
  float: left;
  line-height: 60px;
}
header nav span a {
  color: #fff;
}
header nav img.search {
  display: block;
  float: right;
  margin-right: 3px;
}
header nav input {
  position: absolute;
  top: 24px;
  right: 8px;
  border: none;
  outline: none;
  width: 104px;
}
header nav .souSuo {
  position: absolute;
  top: 22px;
  right: 8px;
}
section {
  width: 100%;
  height: auto;
  background-color: #fff;
}
section .banner_pic {
  display: block;
  max-width: 1980px;
  height: auto;
}
section .survey_banner {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 42px;
}
section .text_box {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
}
section .text_box p {
  color: #9d9c9c;
  height: 14px;
}
section .text_box hr {
  border: 0;
  background-color: #8e8d8d;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 20px;
}
section .text_box .tb {
  overflow: hidden;
}
section .text_box .tb .tb-left {
  float: left;
}
section .text_box .tb .tb-right {
  float: right;
}
section .news {
  width: 1200px;
  height: 654px;
  background-color: #fff;
  margin: auto;
  position: relative;
}
section .news .carousel-indicators {
  bottom: -22px;
}
section .news .pic {
  float: left;
  position: absolute;
  top: -39px;
  left: 0;
  box-shadow: 0 0 50px 7px #605f5e;
}
section .news .pic .carousel-indicators .active {
  border: 3px solid #da251c;
  background-color: inherit;
}
section .news .text {
  width: 644px;
  height: auto;
  float: right;
  margin-top: 30px;
  margin-left: 22px;
}
section .news .text .new {
  display: block;
  margin: auto;
  margin-bottom: 16px;
}
section .news .text .xhx {
  width: 357px;
  margin: auto;
  display: block;
}
section .news .text h4 {
  font-size: 16px;
  color: #da251c;
  margin-left: auto;
  margin-top: 7px;
  text-align: center;
  margin-bottom: 26px;
}
section .news .text ul li {
  margin-bottom: 10px;
}
section .news .text ul li a {
  overflow: hidden;
  color: #515050;
}
section .news .text ul li a div.dat {
  width: 103px;
  height: 95px;
  background-color: #d5d5d5;
  color: #fff;
  margin-right: 16px;
  float: left;
}
section .news .text ul li a div.dat .order {
  font-size: 40px;
  text-align: center;
}
section .news .text ul li a div.dat .tim,
section .news .text ul li a div.dat .times {
  font-size: 20px;
  text-align: center;
}
section .news .text ul li a .common_color {
  background-color: #da251c;
}
section .news .text ul li a .tex h1 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 24px;
}
section .news .text ul li a .tex p {
  font-size: 14px;
  color: #909090;
}
section .news .text button {
  width: 230px;
  height: 50px;
  background-color: #da251c;
  color: #fff;
  font-size: 18px;
  margin-left: 186px;
  margin-top: 22px;
  border: none;
}
section .activity {
  width: 100%;
  height: 856px;
  max-width: 1920px;
  background: url("../images/bkb.png") no-repeat;
}
section .activity .centre {
  width: 1200px;
  min-width: 1200px;
  margin: auto;
}
section .activity .centre .tit a .new {
  display: block;
  margin-left: 110px;
  margin-bottom: 21px;
}
section .activity .centre .tit a .xhx {
  display: block;
  margin-left: 55px;
}
section .activity .centre .tit a h4 {
  font-size: 16px;
  color: #da251c;
  margin-left: 190px;
  margin-top: 13px;
  margin-bottom: 150px;
}
section .activity .centre .pic ul {
  overflow: hidden;
  margin-bottom: 46px;
}
section .activity .centre .pic ul .li-2 {
  margin-left: 96px;
  margin-right: 93px;
}
section .activity .centre .pic ul li {
  float: left;
}
section .activity .centre .pic ul li a img {
  display: block;
}
section .activity .centre .pic ul li .tex {
  width: 324px;
  height: 88px;
  border-bottom: 1px solid #eb6100;
  border-left: 1px solid #eb6100 ;
  border-right: 1px solid #eb6100;
  margin-left: 6px;
  margin-top: 5px;
}
section .activity .centre .pic ul li .tex div {
  overflow: hidden;
  margin-top: 10px;
}
section .activity .centre .pic ul li .tex div .quq {
  display: block;
  float: left;
  margin-left: 8px;
  margin-right: 10px;
}
section .activity .centre .pic ul li .tex div span {
  display: block;
  float: left;
  color: #fff;
  font-size: 16px;
}
section .activity .centre .pic ul li .tex a {
  text-decoration: none;
  color: #c5251c;
  font-size: 14px;
  display: block;
}
section .activity .centre .pic ul li .tex a .jige {
  display: block;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 10px;
}
section .activity .centre .pic ul li .tex a h1 {
  text-align: center;
  margin: auto;
  font-size: 14px;
  color: #c5251c;
  font-weight: bold;
}
section .activity .centre button {
  width: 344px;
  height: 66px;
  background-color: #da251c;
  color: #fff;
  border: none;
  margin-left: 430px;
  margin-bottom: 162px;
}
section .spirit {
  background-color: #fff;
}
section .spirit .centre {
  width: 1200px;
  min-width: 1200px;
  margin: auto;
}
section .spirit .centre .tit {
  margin-left: 370px;
}
section .spirit .centre .tit a .new {
  display: block;
  margin-left: 110px;
  margin-bottom: 21px;
}
section .spirit .centre .tit a .xhx {
  display: block;
  margin-left: 55px;
}
section .spirit .centre .tit a h4 {
  font-size: 16px;
  color: #da251c;
  margin-left: 190px;
  margin-top: 13px;
  margin-bottom: 54px;
}
section .spirit .centre .tex ul {
  overflow: hidden;
}
section .spirit .centre .tex ul .li-3 {
  margin-right: 8px;
}
section .spirit .centre .tex ul li {
  width: 186px;
  height: auto;
  margin-left: 8px;
  margin-right: 304px;
  float: left;
}
section .spirit .centre .tex ul li .run {
  display: block;
  margin-left: 54px;
}
section .spirit .centre .tex ul li .tj {
  display: block;
  margin-top: 18px;
  margin-bottom: 28px;
  margin-left: 20px;
}
section .spirit .centre .tex ul li h2 {
  font-size: 20px;
  text-align: center;
}
section .spirit .centre .tex ul li h4 {
  margin-top: 20px;
  margin-bottom: 76px;
  color: #7b7b7b;
  font-size: 16px;
  text-align: center;
}
section .tem {
  width: 100%;
  height: 856px;
  max-width: 1920px;
  background: url("../images/bkb1.png") no-repeat;
  margin-top: 48px;
}
section .tem .centre {
  width: 1200px;
  min-width: 1200px;
  margin: auto;
}
section .tem .centre .tit a .new {
  display: block;
  margin-left: 70px;
  margin-bottom: 21px;
}
section .tem .centre .tit a .xhx {
  display: block;
  margin-left: 55px;
}
section .tem .centre .tit a h4 {
  font-size: 16px;
  color: #da251c;
  margin-left: 190px;
  margin-top: 13px;
  margin-bottom: 154px;
}
section .tem .centre .tex {
  margin-left: 102px;
}
section .tem .centre .tex ul {
  position: relative;
}
section .tem .centre .tex ul .li-1 {
  position: absolute;
  top: 0;
  left: 0;
}
section .tem .centre .tex ul .li-2 {
  position: absolute;
  top: 0;
  left: 202px;
}
section .tem .centre .tex ul .li-3 {
  position: absolute;
  top: 0;
  left: 404px;
}
section .tem .centre .tex ul .li-4 {
  position: absolute;
  top: -172px;
  left: 606px;
}
section .tem .centre .tex ul .li-5 {
  position: absolute;
  top: 79px;
  left: 606px;
}
section .tem .centre .tex ul .li-6 {
  position: absolute;
  top: 0;
  left: 808px;
}
section .tem .centre .tex ul .li-7 {
  position: absolute;
  top: 251px;
  left: 202px;
}
section .tem .centre .tex ul li {
  width: 201px;
  height: 250px;
  background-color: #fff;
}
section .tem .centre .tex ul li a {
  color: #161515;
}
section .tem .centre .tex ul li a .person {
  height: 179px;
  display: block;
}
section .tem .centre .tex ul li a .cont {
  margin-top: 22px;
  margin-left: 23px;
  width: 157px;
}
section .tem .centre .tex ul li a .cont .red-jg {
  display: block;
}
section .tem .centre .tex ul li a .cont .bot-tex {
  overflow: hidden;
  margin-top: 4px;
}
section .tem .centre .tex ul li a .cont .bot-tex span {
  display: block;
  float: left;
}
section .tem .centre .tex ul li a .cont .bot-tex img {
  display: block;
  float: right;
  margin-top: 3px;
}
section .friendship {
  background-color: #fff;
}
section .friendship .centre {
  width: 1200px;
  min-width: 1200px;
  margin: auto;
}
section .friendship .centre .tit {
  margin-top: 58px;
  margin-left: 543px;
  margin-bottom: 57px;
}
section .friendship .centre .tit img {
  display: block;
}
section .friendship .centre .tex {
  margin-left: 80px;
  margin-right: 92px;
}
section .friendship .centre .tex ul {
  overflow: hidden;
  margin-bottom: 54px;
}
section .friendship .centre .tex ul .li-last {
  margin-right: 0;
}
section .friendship .centre .tex ul li {
  float: left;
  margin-right: 35px;
}
section .friendship .centre .tex ul li a img {
  display: block;
}
section .friendship .centre .bot-pic {
  margin-top: 8px;
  overflow: hidden;
}
section .friendship .centre .bot-pic img {
  float: left;
  display: block;
}
section .friendship .centre .bot-pic a.top {
  float: left;
  width: 71px;
  height: 46px;
  margin-left: 427px;
  margin-right: 370px;
  margin-top: 20px;
  display: block;
}
section .friendship .centre .bot-pic .tree {
  margin-top: 20px;
}
footer {
  width: 100%;
  height: 366px;
  background: url("../images/beijing.png") repeat;
}
footer .bottom {
  width: 1200px;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}
footer .bottom .left-bt {
  float: left;
}
footer .bottom .left-bt .list {
  overflow: hidden ;
  margin-top: 32px;
}
footer .bottom .left-bt .list .ul-1 {
  margin-right: 72px;
}
footer .bottom .left-bt .list .ul-last {
  margin-right: 0;
}
footer .bottom .left-bt .list ul {
  float: left;
  margin-right: 86px;
}
footer .bottom .left-bt .list ul .li-1 {
  margin-bottom: 30px;
}
footer .bottom .left-bt .list ul .li-1 a {
  color: #333;
}
footer .bottom .left-bt .list ul li {
  margin-bottom: 23px;
}
footer .bottom .left-bt .list ul li a {
  font-size: 16px;
  color: #6e6e6e;
}
footer .bottom .left-bt p {
  margin-top: 10px;
}
footer .bottom .center-bt {
  float: left;
  margin-left: 56px;
  margin-right: 152px;
  margin-top: 23px;
}
footer .bottom .right-bt {
  float: left;
  margin-top: 25px;
}
/*# sourceMappingURL=sport.css.map */