@charset "utf-8";
html, body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h5, h6, textarea, form, select, fieldset, table, td, div, input {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h5, h6, span, a, em, p {
  list-style: none;
  font-style: normal;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

html, body {
  font-size: 14px;
  font-family: "Microsoft Yahei";
  width: 100%;
  height: auto;
  background-color: #fff;
}

header {
  width: 100%;
  height: 60px;
  background-color: #262223;
  nav {
    width: 1200px;
    min-width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
    .ico {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
    }
    ul {
      padding: 0;
      margin: 0;
      li.page-1 {
        margin-left: 116px;
      }
      li {
        list-style: none;
        width: 94px;
        float: left;
        height: 60px;
        line-height: 60px;
        text-align: center;
      }
      li a {
        color: #fff;
      }
    }
    .interval {
      float: left;
      margin: 11px 41px 12px -2px;
    }
    span {
      display: block;
      float: left;
      line-height: 60px;
    }
    span a {
      color: #fff;
    }
    img.search {
      display: block;
      float: right;
      margin-right: 3px;
      margin-top: 19px;
    }
    input {
      position: absolute;
      top: 24px;
      right: 8px;
      border: none;
      outline: none;
      width: 104px;

    }
    .souSuo {
      position: absolute;
      top: 22px;
      right: 8px;
    }
  }
}

section {
  width: 100%;
  height: auto;
  background-color: #fff;
  .banner_pic {
    display: block;
    max-width: 1980px;
    height: auto;
  }
  .survey_banner {
    width: 1200px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 42px;
    position: relative;
    .login-box {
      position: absolute;
      top: 96px;
      right: 70px;
      width: 362px;
      height: 415px;
      border: 1px solid #da251c;
      background-color: rgba(255,255,255,0.9);
      h2 {
        font-size: 20px;
        margin: 26px 154px 40px;
      }
      .user {
        width: 296px;
        height: 43px;
        background-color: #dddddd;
        opacity: 1;
        margin-left: 33px;
        span{
          margin-left: 8px;
          img{

          }
          input{
            width: 246px;
            height: 41px;
            margin-left: 8px;
            margin-top: 1px;
            margin-right: 1px;
            background-color: #fff;
            text-indent: 1em;
          }
        }
      }
      .pass{
        margin-top: 42px;
      }
      .text{
        width: 296px;
        height: 43px;
        margin-left: 33px;
        margin-top: 14px;
        .left{
          float: left;
          a{
            color:#333;
          }
        }
        .right{
          float: right;
          a{
            color:#333;
          }
        }
      }
      .bt{
        margin-left: 33px;
        margin-bottom: 67px;
        button{
          width: 295px;
          height: 47px;
          background-color: #da251c;
          color: #fff;
          font-size: 18px;
          line-height: 47px;
          text-align: center;
          list-style-type: none;
          border: none;
          border-radius: 4px;
        }
      }
    }
  }
  .text_box {
    width: 1200px;
    max-width: 1200px;
    margin: auto;
    position: relative;
    .text-top {
      overflow: hidden;
      margin-top: -25px;

      .text {
        width: 100%;
        height: 320px;
        border: 1px solid #da251c;
        background-color: #fff5ed;
        .text-le {
          float: left;
          margin-left: 54px;
          margin-top: 50px;
        }
        .text-ri {
          float: right;
          height: 190px;
          width: 890px;
          overflow: hidden;
          margin-right: 38px;
          margin-top: 50px;
          .titl-team {
            width: 208px;
            height: 42px;
            border: 1px solid #7a7a7a;
            border-radius: 20px;
            line-height: 42px;
            text-align: center;
            font-size: 20px;
            position: absolute;
            top: -22px;
            left: 41%;
            background-color: #fff;
          }
          h1 {
            font-size: 26px;
          }
          h2 {
            font-size: 16px;
            margin-top: 4px;
          }
          p {
            font-size: 12px;
            line-height: 180%;
            margin-top: 30px;
          }
        }
      }
      .play {
        width: 72px;
        height: 42px;
        color: #da251c;
        border: 1px solid #da251c;
        border-radius: 6px;
        float: left;
        line-height: 42px;
        font-size: 20px;
        text-align: center;
      }
      span {
        display: block;
        float: left;
        font-size: 24px;
        margin-left: 14px;
        margin-right: 10px;
        margin-top: 4px;
      }
      div.eng {
        width: 88%;
        float: left;
        border-bottom: 2px solid #da251c;
        margin-top: 10px;
        .sp-one {
          margin-left: 0;
          margin-right: 620px;
        }
        span {
          font-size: 14px;
        }

      }

    }
    .text-content {
      margin-top: 60px;
      h1 {
        font-size: 24px;
        margin-bottom: 16px;
        margin-left: 446px;
      }
      .til-one {
        width: 100%;
        height: 37px;
        border: 1px solid #d7d7d7;
        background-color: #f2f2f2;
        position: relative;
        margin-bottom: 30px;
        span {
          display: block;
          position: absolute;
          top: 5px;
          left: 13px;
          a {
            color: #fff;
            font-size: 20px;
          }
        }
      }
      .cont {
        width: 100%;
        height: 480px;
        position: relative;
        button {
          width: 168px;
          height: 44px;
          background-color: #da251c;
          color: #fff;
          font-size: 20px;
          line-height: 44px;
          text-align: center;
          list-style-type: none;
          border: none;
          position: absolute;
          top: 0;
          right: 0;
        }
        h4 {
          font-size: 14px;
          color: #666666;
        }
        p {
          line-height: 180%;
          margin-bottom: 0;
          color: #666666;
          text-indent: 2em;
        }
        .para {
          margin-left: 2em;
          text-indent: 0;
          width: 1156px;
          overflow: hidden;
        }
      }
      .cont-write {
        margin-top: -18px;
        width: 100%;
        height: 510px;
        border: 1px solid #da251c;
        .write {
          width: 1136px;
          height: 469px;
          border: 1px solid #dfdfdf;
          margin: 20px 30px;
          text-shadow: 2px 1px 1px #d7d7d7;
          padding: 70px 104px;
          .write-one {
            overflow: hidden;
            margin-bottom: 20px;
            .one {
              float: left;
              input {
                width: 204px;
                height: 36px;
                border: 1px solid #c4c4c4;
              }
              select {
                width: 204px;
                height: 36px;
                border: 1px solid #c4c4c4;
                color: #333;
              }
            }
            .two {
              float: right;
              input {
                width: 204px;
                height: 36px;
                border: 1px solid #c4c4c4;
              }
            }
          }
        }
      }
      .remark {
        margin-top: 22px;
        overflow: hidden;
        margin-bottom: 37px;
        .re-lef {
          float: left;
          width: 6%;
        }
        .re-rig {
          float: right;
          width: 91%;
          height: 144px;
          border: 1px solid #d0d0d0;
          margin-right: 3%;
        }
      }
      .bt {
        button {
          width: 184px;
          height: 52px;
          background-color: #da251c;
          color: #fff;
          font-size: 24px;
          line-height: 52px;
          text-align: center;
          list-style-type: none;
          border: none;
          margin-left: 506px;
        }
      }
    }
    .bot-pic {
      margin-top: 22px;
      overflow: hidden;
      img {
        float: left;
        display: block;
      }
      a.top {
        float: left;
        width: 71px;
        height: 46px;
        margin-left: 427px;
        margin-right: 370px;
        margin-top: 20px;
        display: block;
      }
      .tree {
        margin-top: 20px;
      }
    }
    p {
      color: #9d9c9c;
      margin-bottom: 40px;
    }
    hr {
      border: 0;
      background-color: #8e8d8d;
      height: 1px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
    .apply {
      width: 94%;
      margin: 30px auto auto auto;
      border-top: 1px solid #e8e8e8;
      .apply-list {
        width: 94%;
        height: 116px;
        overflow: hidden;
        margin: auto;
        .list-one {
          float: left;
          overflow: hidden;
          margin-top: 26px;
          .dat {
            width: 66px;
            height: 70px;
            border: 1px solid #da251c;
            border-radius: 6px;
            background-color: #da251c;
            float: left;
            margin-right: 20px;
            .order {
              height: 29px;
              line-height: 30px;
              color: #da251c;
              text-align: center;
              font-size: 16px;
              background-color: #fff;
            }
            .tim {
              height: 38px;
              color: #fff;
              text-align: center;
              line-height: 38px;
              font-size: 26px;
            }
          }
          .tex {
            float: left;
            width: 280px;
            height: 70px;
            .tex-left {
              overflow: hidden;
              margin-top: 14px;
              .left {
                float: left;
                p {
                  margin-bottom: 0;
                  color: #333333;
                }
              }
              .right {
                float: right;
                p {
                  margin-bottom: 0;
                  color: #333333;
                }
              }
            }
            h1 {
              font-size: 16px;
            }
          }
        }
        .list-two {
          float: left;
          margin-left: 420px;
          margin-top: 60px;
          .money {
            color: #da251c;
            font-size: 30px;
          }
        }
        .list-three {
          float: right;
          margin-top: 47px;
          .appl {
            width: 95px;
            height: 43px;
            border: 1px solid #da251c;
            border-radius: 6px;
            line-height: 43px;
            text-align: center;
            font-size: 20px;
            color: #da251c;
          }
        }
      }
    }
    .tb {
      width: 100%;
      height: auto;
      overflow: hidden;
      .tb-left {
        float: left;
        width: 20%;
        h1 {
          font-size: 20px;
          border-bottom: 1px dashed #ccc;
          line-height: 180%;
        }
        .of_whole {
          margin-top: 45px;
        }
        .list {
          margin-left: 22px;
          margin-top: 30px;
          ul {
            .li-last {
              border-bottom: none;
              width: 114px;
              text-align: center;
              margin-bottom: 20px;
            }
            li {
              width: 84px;
              height: 46px;
              line-height: 46px;
              border-bottom: 1px solid #d4d4d4;
              text-align: center;
              background: url("../images/xiaohuidian.png") no-repeat 0 50%;
              a {
                color: #686868;

              }
            }
          }
        }
      }
      .tb-right {
        float: right;
        width: 74%;
        margin-left: 6%;
        margin-top: 17px;
        overflow: hidden;
        textarea {
          margin-top: 28px;
          margin-left: 50px;
          display: block;
          border: 1px solid #d7d7d7;
          color: #a7a7a7;
        }
        button {
          background-color: #eb6100;
          color: #fff;
          list-style-type: none;
          border: none;
          width: 86px;
          height: 34px;
          margin-top: 12px;
          margin-left: 85%;
          border-radius: 4px;
          font-size: 20px;

        }
        h1 {
          font-size: 12px;
          border-bottom: 1px solid #b2b2b1;
          line-height: 24px;
        }
        .of_whole {
          margin-top: 45px;
        }
        p {
          line-height: 180%;
          color: #333;
          display: block;
          height: auto;
        }
        div {
          margin-top: 28px;
          h2 {
            width: 730px;
            height: 27px;
            background-color: #ffd7bc;
            line-height: 27px;
            font-size: 14px;
            margin-bottom: 16px;
          }
          img {
            display: block;
            margin-top: 16px;
          }
          .two {
            margin-top: 24px;
          }
        }
      }
    }
  }
  .news {
    width: 1200px;
    height: 654px;
    background-color: #fff;
    margin: auto;
    position: relative;
    .carousel-indicators {
      bottom: -22px;
    }
    .pic {
      float: left;
      position: absolute;
      top: -39px;
      left: 0;
      box-shadow: 0 0 50px 7px #605f5e;
      .carousel-indicators .active {
        border: 3px solid #da251c;
        background-color: inherit;
      }
    }
    .text {
      width: 644px;
      height: auto;
      float: right;
      margin-top: 30px;
      margin-left: 22px;

      .new {
        display: block;
        margin: auto;
        margin-bottom: 16px;
      }
      .xhx {
        width: 357px;
        margin: auto;
        display: block;
      }
      h4 {
        font-size: 16px;
        color: #da251c;
        margin-left: auto;
        margin-top: 7px;
        text-align: center;
        margin-bottom: 26px;
      }
      ul {
        li {
          margin-bottom: 10px;
          a {
            overflow: hidden;
            color: #515050;
            div.dat {
              width: 103px;
              height: 95px;
              background-color: #d5d5d5;
              color: #fff;
              margin-right: 16px;
              float: left;
              .order {
                font-size: 40px;
                text-align: center;
              }
              .tim, .times {
                font-size: 20px;
                text-align: center;
              }
            }
            .common_color {
              background-color: #da251c;
            }
            .tex {
              h1 {
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 24px;
              }
              p {
                font-size: 14px;
                color: #909090;
              }
            }
          }
        }
      }
      button {
        width: 230px;
        height: 50px;
        background-color: #da251c;
        color: #fff;
        font-size: 18px;
        margin-left: 186px;
        margin-top: 22px;
        border: none;
      }
    }
  }
  .activity {
    width: 100%;
    height: 856px;
    max-width: 1920px;
    background: url("../images/bkb.png") no-repeat;
    .centre {
      width: 1200px;
      min-width: 1200px;
      margin: auto;
      .tit {
        a {
          .new {
            display: block;
            margin-left: 110px;
            margin-bottom: 21px;
          }
          .xhx {
            display: block;
            margin-left: 55px;
          }
          h4 {
            font-size: 16px;
            color: #da251c;
            margin-left: 190px;
            margin-top: 13px;
            margin-bottom: 150px;
          }
        }
      }
      .pic {
        ul {
          overflow: hidden;
          margin-bottom: 46px;
          .li-2 {
            margin-left: 96px;
            margin-right: 93px;
          }
          li {
            float: left;
            a {
              img {
                display: block;
              }
            }
            .tex {
              width: 324px;
              height: 88px;
              border-bottom: 1px solid #eb6100;
              border-left: 1px solid #eb6100;
              border-right: 1px solid #eb6100;
              margin-left: 6px;
              margin-top: 5px;
              div {
                overflow: hidden;
                margin-top: 10px;
                .quq {
                  display: block;
                  float: left;
                  margin-left: 8px;
                  margin-right: 10px;
                }
                span {
                  display: block;
                  float: left;
                  color: #fff;
                  font-size: 16px;
                }
              }
              a {
                text-decoration: none;
                color: #c5251c;
                font-size: 14px;
                display: block;
                .jige {
                  display: block;
                  margin: auto;
                  margin-top: 22px;
                  margin-bottom: 10px;
                }
                h1 {
                  text-align: center;
                  margin: auto;
                  font-size: 14px;
                  color: #c5251c;
                  font-weight: bold;
                }
              }
            }

          }
        }
      }
      button {
        width: 344px;
        height: 66px;
        background-color: #da251c;
        color: #fff;
        border: none;
        margin-left: 430px;
        margin-bottom: 162px;
      }
    }
  }
  .spirit {
    background-color: #fff;
    .centre {
      width: 1200px;
      min-width: 1200px;
      margin: auto;
      .tit {
        margin-left: 370px;
        a {
          .new {
            display: block;
            margin-left: 110px;
            margin-bottom: 21px;
          }
          .xhx {
            display: block;
            margin-left: 55px;
          }
          h4 {
            font-size: 16px;
            color: #da251c;
            margin-left: 190px;
            margin-top: 13px;
            margin-bottom: 54px;
          }
        }
      }
      .tex {
        ul {
          overflow: hidden;
          .li-3 {
            margin-right: 8px;
          }
          li {
            width: 186px;
            height: auto;
            margin-left: 8px;
            margin-right: 304px;
            float: left;
            .run {
              display: block;
              margin-left: 54px;
            }
            .tj {
              display: block;
              margin-top: 18px;
              margin-bottom: 28px;
              margin-left: 20px;
            }
            h2 {
              font-size: 20px;
              text-align: center;
            }
            h4 {
              margin-top: 20px;
              margin-bottom: 76px;
              color: #7b7b7b;
              font-size: 16px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .tem {
    width: 100%;
    height: 856px;
    max-width: 1920px;
    background: url("../images/bkb1.png") no-repeat;
    margin-top: 48px;
    .centre {
      width: 1200px;
      min-width: 1200px;
      margin: auto;
      .tit {
        a {
          .new {
            display: block;
            margin-left: 70px;
            margin-bottom: 21px;
          }
          .xhx {
            display: block;
            margin-left: 55px;
          }
          h4 {
            font-size: 16px;
            color: #da251c;
            margin-left: 190px;
            margin-top: 13px;
            margin-bottom: 154px;
          }
        }
      }
      .tex {
        margin-left: 102px;
        ul {
          position: relative;
          .li-1 {
            position: absolute;
            top: 0;
            left: 0;
          }
          .li-2 {
            position: absolute;
            top: 0;
            left: 202px;
          }
          .li-3 {
            position: absolute;
            top: 0;
            left: 404px;
          }
          .li-4 {
            position: absolute;
            top: -172px;
            left: 606px;
          }
          .li-5 {
            position: absolute;
            top: 79px;
            left: 606px;
          }
          .li-6 {
            position: absolute;
            top: 0;
            left: 808px;
          }
          .li-7 {
            position: absolute;
            top: 251px;
            left: 202px;
          }
          li {
            width: 201px;
            height: 250px;
            background-color: #fff;
            a {
              color: #161515;
              .person {
                height: 179px;
                display: block;
              }
              .cont {
                margin-top: 22px;
                margin-left: 23px;
                width: 157px;
                .red-jg {
                  display: block;
                }
                .bot-tex {
                  overflow: hidden;
                  margin-top: 4px;
                  span {
                    display: block;
                    float: left;
                  }
                  img {
                    display: block;
                    float: right;
                    margin-top: 3px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .friendship {
    background-color: #fff;
    .centre {
      width: 1200px;
      min-width: 1200px;
      margin: auto;
      .tit {
        margin-top: 58px;
        margin-left: 543px;
        margin-bottom: 57px;
        img {
          display: block;
        }
      }
      .tex {
        margin-left: 80px;
        margin-right: 92px;
        ul {
          overflow: hidden;
          margin-bottom: 54px;
          .li-last {
            margin-right: 0;
          }
          li {
            float: left;
            margin-right: 35px;
            a {
              img {
                display: block;
              }
            }
          }
        }
      }
      .bot-pic {
        margin-top: 8px;
        overflow: hidden;
        img {
          float: left;
          display: block;
        }
        a.top {
          float: left;
          width: 71px;
          height: 46px;
          margin-left: 427px;
          margin-right: 370px;
          margin-top: 20px;
          display: block;
        }
        .tree {
          margin-top: 20px;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 366px;
  background: url("../images/beijing.png") repeat;
  //position: fixed;
  //bottom:0;
  .bottom {
    width: 1200px;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    .left-bt {
      float: left;
      .list {
        overflow: hidden;
        margin-top: 32px;
        .ul-1 {
          margin-right: 72px;
        }
        .ul-last {
          margin-right: 0;
        }
        ul {
          float: left;
          margin-right: 86px;
          .li-1 {
            margin-bottom: 30px;
            a {
              color: #333;
            }
          }
          li {
            margin-bottom: 23px;
            a {
              font-size: 16px;
              color: #6e6e6e;
            }
          }
        }
      }
      p {
        margin-top: 10px;
      }
    }
    .center-bt {
      float: left;
      margin-left: 56px;
      margin-right: 152px;
      margin-top: 23px;
    }
    .right-bt {
      float: left;
      margin-top: 25px;
    }
  }
}